@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;

a {
  @apply no-underline;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html {
	background-color: #F0F8FF;
}
body {
	background-color: #B6C9FF;
}

.scroll-content {
    padding-bottom: 0
 }

select {
  -o-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@tailwind components;

.flex-container-row {
	@apply flex w-screen max-w-screen-md flex-row place-content-between px-3
}

.flexbox-row {
	@apply flex flex-row w-full place-content-between
}
.flexbox-col {
@apply flex flex-col w-full place-content-between
}

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.mobile-disable-highlight {
	-webkit-tap-highlight-color: transparent
}

@layer base {
	html {
		font-family: Inter, sans-serif
	}
}